@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Ubuntu Regular";
        src: url("../../../assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Ubuntu Medium";
        src: url("../../../assets/fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Ubuntu Bold";
        src: url("../../../assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
        font-display: swap;
    }
}

@layer components {
    .player-box {
        box-shadow: 0.5rem 0.5rem 1rem #000;
    }
    .cover-image {
        box-shadow: 0 0 2rem #000;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    #like-button, #repeat-button {
        @apply flex justify-center items-center w-10 h-10 rounded-full bg-white/40 cursor-pointer;
        box-shadow: 3px 3px 5px #000, inset -3px -3px 5px #000, -2px -2px 5px #ffffff40;
    }
    #time-line {
        -webkit-appearance: none;
        @apply bg-cyan-800;
    }
    #time-line::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply w-4 h-4 rounded-full bg-cyan-950;
    }
    .control-btn {
        @apply w-10 h-10 bg-white/40 flex justify-center items-center rounded-full cursor-pointer;
        box-shadow: 3px 3px 5px #000, inset -3px -3px 5px #000, -2px -2px 5px #ffffff40;
    }
}